{{template "base" .}} {{/* -comment- base is from base.page.tmpl */}} 

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>This is some text</p>
                <p>This came form the template: {{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}